// ========================================================
// HTML
// ========================================================

html {
  @include type-base;
  background-color: var(--base-background-color, $base-background-color);
  color: var(--base-font-color, $base-font-color);
  font-size: $typography-size-base;
}

html,
body {
  height: 100%;
}
