// =============================================================================
// Link
// =============================================================================

a {
  border-bottom: 1px solid transparent;
  color: $base-link-color;
  text-decoration: none;
  // transition: border-bottom-color $animation-transition;

  &:focus {
    box-shadow: inset 0 0 0 0.1rem $base-link-color;
    color: $color-brand;
    outline: none;
  }

  &:hover {
    border-bottom-color: $base-link-color;
    color: $color-brand;
  }
}
