@import 'src/styles/library.scss';

.Hero {
  background-color: #010101;
  color: $color-white;
  padding-top: rem($size-header-height);
  // padding-bottom: rem($size-header-height);
  position: relative;

  > * {
    position: relative;
    z-index: 1;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: radial-gradient(100% 256% at 100% 0%, rgba(131, 28, 133, 0.7) 0%, rgba(#010101, 0.85) 100%);
    z-index: 0;
  }

  &__m_moi {
    background-image: url('/assets/me-desk.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.HeroIntro {
  @include container;

  display: flex;
  justify-content: center;
  min-height: 50vh;
  flex-direction: column;
  position: relative;
  z-index: 1;

  h1,
  p {
    @include container-narrow;
  }

  h1 {
    @media ($media-display-is-medium) {
      @include font-size-height(2rem, 1.25em);
    }
    @include font-size-height(1.3rem, 1.3em);
    @include type-heading;
  }

  p {
    @media ($media-display-is-medium) {
      @include font-size-height(1.4rem, 1.5em);
    }
    @include font-size-height(1.2rem, 1.5em);
    @include type-heading;
    margin-top: rem(35px);
    margin-bottom: rem(35px);

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
